<div class="card m-3 border-secondary" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{comentario.titulo}}</h5>
      <p class="card-text">
        {{comentario.creador}}
      </p>
      <p class="card-text">
        {{comentario.texto}}
      </p>
      <button routerLink='/' type="button" class="btn btn-secondary btn-sm">Atrás</button>
    </div>
    <div class="card-footer text-muted">
      Creado {{comentario.fechaComentario | date:"dd/mm/YY" }}
    </div>
</div>    